---
# Copyright (c) 2023 Dell Inc., or its subsidiaries. All Rights Reserved.
# 
# Licensed under the Mozilla Public License Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://mozilla.org/MPL/2.0/
# 
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

title: "{{.Name }} {{.Type | lower}}"
linkTitle: "{{.Name }}"
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name }} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}

{{- end }}

After the execution of above resource block, network setting would have been applied on the OME. For more information, Please check the terraform state file.

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{codefile "shell" .ImportFile }}

{{- end }}


## Time Zone for time setting 

| Id       | Name                                                            | UTC Offset Minutes |
|----------|-----------------------------------------------------------------|------------------|
| TZ_ID_38 | "(GMT+01:00) Brussels, Copenhagen, Madrid, Paris"               | 60               |
| TZ_ID_39 | "(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb"                  | 60               |
| TZ_ID_70 | (GMT+07:00) Novosibirsk                                         | 420              |
| TZ_ID_71 | (GMT+06:30) Yangon (Rangoon)                                    | 390              |
| TZ_ID_72 | "(GMT+07:00) Bangkok, Hanoi, Jakarta"                           | 420              |
| TZ_ID_73 | (GMT+07:00) Krasnoyarsk                                         | 420              |
| TZ_ID_34 | "(GMT+00:00) Dublin, Edinburgh, Lisbon, London"                 | 0                |
| TZ_ID_78 | (GMT+08:00) Taipei                                              | 480              |
| TZ_ID_35 | "(GMT+00:00) Monrovia, Reykjavik"                               | 0                |
| TZ_ID_79 | (GMT+08:00) Ulaanbaatar                                         | 480              |
| TZ_ID_36 | "(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna"  | 60               |
| TZ_ID_37 | "(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague" | 60               |
| TZ_ID_30 | (GMT-01:00) Azores                                              | -60              |
| TZ_ID_74 | "(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi"             | 480              |
| TZ_ID_31 | (GMT-01:00) Cape Verde Is.                                      | -60              |
| TZ_ID_75 | (GMT+08:00) Irkutsk                                             | 480              |
| TZ_ID_32 | (GMT+01:00) Casablanca                                          | 60               |
| TZ_ID_76 | "(GMT+08:00) Kuala Lumpur, Singapore"                           | 480              |
| TZ_ID_33 | (GMT+00:00) Coordinated Universal Time                          | 0                |
| TZ_ID_77 | (GMT+08:00) Perth                                               | 480              |
| TZ_ID_49 | (GMT+02:00) Jerusalem                                           | 120              |
| TZ_ID_81 | "(GMT+09:00) Osaka, Sapporo, Tokyo"                             | 540              |
| TZ_ID_82 | (GMT+09:00) Seoul                                               | 540              |
| TZ_ID_83 | (GMT+09:00) Yakutsk                                             | 540              |
| TZ_ID_40 | (GMT+01:00) West Central Africa                                 | 60               |
| TZ_ID_84 | (GMT+09:30) Adelaide                                            | 570              |
| TZ_ID_80 | (GMT+09:00) Pyongyang                                           | 540              |
| TZ_ID_45 | (GMT+02:00) Cairo                                               | 120              |
| TZ_ID_89 | (GMT+10:00) Hobart                                              | 600              |
| TZ_ID_46 | (GMT+02:00) Damascus                                            | 120              |
| TZ_ID_47 | "(GMT+02:00) Harare, Pretoria"                                  | 120              |
| TZ_ID_48 | "(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius"     | 120              |
| TZ_ID_41 | (GMT+02:00) Windhoek                                            | 120              |
| TZ_ID_85 | (GMT+09:30) Darwin                                              | 570              |
| TZ_ID_42 | (GMT+02:00) Amman                                               | 120              |
| TZ_ID_86 | (GMT+10:00) Brisbane                                            | 600              |
| TZ_ID_43 | (GMT+03:00) Istanbul                                            | 180              |
| TZ_ID_87 | "(GMT+10:00) Canberra, Melbourne, Sydney"                       | 600              |
| TZ_ID_44 | (GMT+02:00) Beirut                                              | 120              |
| TZ_ID_88 | "(GMT+10:00) Guam, Port Moresby"                                | 600              |
| TZ_ID_16 | (GMT-05:00) Indiana (East)                                      | -300             |
| TZ_ID_17 | (GMT-04:00) Caracas                                             | -240             |
| TZ_ID_18 | (GMT-04:00) Asuncion                                            | -240             |
| TZ_ID_19 | (GMT-04:00) Atlantic Time (Canada)                              | -240             |
| TZ_ID_7  | (GMT-07:00) Arizona                                             | -420             |
| TZ_ID_92 | "(GMT+12:00) Auckland, Wellington"                              | 720              |
| TZ_ID_8  | "(GMT-07:00) Chihuahua, La Paz, Mazatlan"                       | -420             |
| TZ_ID_93 | (GMT+12:00) Fiji                                                | 720              |
| TZ_ID_9  | (GMT-07:00) Mountain Time (US & Canada)                         | -420             |
| TZ_ID_50 | (GMT+03:00) Minsk                                               | 180              |
| TZ_ID_94 | (GMT+13:00) Nuku'alofa                                          | 780              |
| TZ_ID_51 | (GMT+03:00) Baghdad                                             | 180              |
| TZ_ID_95 | (GMT+14:00) Kiritimati                                          | 840              |
| TZ_ID_3  | (GMT-10:00) Hawaii                                              | -600             |
| TZ_ID_4  | (GMT-09:00) Alaska                                              | -540             |
| TZ_ID_5  | (GMT-08:00) Pacific Time (US & Canada)                          | -480             |
| TZ_ID_90 | (GMT+10:00) Vladivostok                                         | 600              |
| TZ_ID_6  | (GMT-08:00) Baja California                                     | -480             |
| TZ_ID_91 | "(GMT+11:00) Magadan, Solomon Is., New Caledonia"               | 660              |
| TZ_ID_12 | "(GMT-06:00) Guadalajara, Mexico City, Monterrey"               | -360             |
| TZ_ID_56 | "(GMT+04:00) Abu Dhabi, Muscat"                                 | 240              |
| TZ_ID_13 | (GMT-06:00) Saskatchewan                                        | -360             |
| TZ_ID_57 | (GMT+04:00) Baku                                                | 240              |
| TZ_ID_1  | (GMT-12:00) International Date Line West                        | -720             |
| TZ_ID_14 | "(GMT-05:00) Bogota, Lima, Quito"                               | -300             |
| TZ_ID_58 | (GMT+04:00) Port Louis                                          | 240              |
| TZ_ID_2  | (GMT-11:00) Samoa                                               | -660             |
| TZ_ID_15 | (GMT-05:00) Eastern Time (US & Canada)                          | -300             |
| TZ_ID_59 | (GMT+04:00) Tbilisi                                             | 240              |
| TZ_ID_52 | "(GMT+03:00) Kuwait, Riyadh"                                    | 180              |
| TZ_ID_96 | "(GMT+02:00) Athens, Bucharest"                                 | 120              |
| TZ_ID_53 | "(GMT+03:00) Moscow, St. Petersburg, Volgograd"                 | 180              |
| TZ_ID_10 | (GMT-06:00) Central America                                     | -360             |
| TZ_ID_54 | (GMT+03:00) Nairobi                                             | 180              |
| TZ_ID_11 | (GMT-06:00) Central Time (US & Canada)                          | -360             |
| TZ_ID_55 | (GMT+03:30) Tehran                                              | 210              |
| TZ_ID_27 | (GMT-03:00) Greenland                                           | -180             |
| TZ_ID_28 | (GMT-03:00) Montevideo                                          | -180             |
| TZ_ID_29 | (GMT-02:00) Mid-Atlantic                                        | -120             |
| TZ_ID_60 | (GMT+04:00) Yerevan                                             | 240              |
| TZ_ID_61 | (GMT+04:30) Kabul                                               | 270              |
| TZ_ID_62 | (GMT+05:00) Ekaterinburg                                        | 300              |
| TZ_ID_23 | (GMT-03:30) Newfoundland                                        | -210             |
| TZ_ID_67 | (GMT+05:45) Kathmandu                                           | 345              |
| TZ_ID_24 | (GMT-03:00) Brasilia                                            | -180             |
| TZ_ID_68 | (GMT+06:00) Astana                                              | 360              |
| TZ_ID_25 | (GMT-03:00) Buenos Aires                                        | -180             |
| TZ_ID_69 | (GMT+06:00) Dhaka                                               | 360              |
| TZ_ID_26 | "(GMT-03:00) Cayenne, Fortaleza"                                | -180             |
| TZ_ID_63 | "(GMT+05:00) Islamabad, Karachi"                                | 300              |
| TZ_ID_20 | (GMT-04:00) Cuiaba                                              | -240             |
| TZ_ID_64 | (GMT+05:00) Tashkent                                            | 300              |
| TZ_ID_21 | "(GMT-04:00) Georgetown, La Paz, Manaus, San Juan "             | -240             |
| TZ_ID_65 | "(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi"               | 330              |
| TZ_ID_22 | (GMT-04:00) Santiago                                            | -240             |
| TZ_ID_66 | (GMT+05:30) Sri Jayawardenepura                                 | 330              |

